@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cinza: #aaa;
    --menta: rgb(156, 231, 206);
    --azul: #092a69;
    --azul-escuro: #030e33;
    --branca: #fff;
    --luz: rgb(249, 253, 207);
    --fundo: black;
    --fonte: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background: rgb(189, 238, 222);;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--fonte);
    min-height: 90vh;
}

.filtros{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    font-family: var(--fonte);
    color: var(--branca);
    align-items: flex-start;
}

.combos{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    font-family: var(--fonte);
    color: var(--branca);
    align-items: center;
}

.opcoes{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 0.5px;
    align-items: flex-start;
}

.opt{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 0.5px;
    font-family: var(--fonte);
    color: var(--branca);
    align-items: flex-start;
}

.rodape {
    color: white;
    background-color: rgb(9, 78, 55);
    padding: 20px;
    text-align: center;
    font-weight: normal;
    font-family: var(--fonte);
    font-size: 1rem;
    height: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer_text{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    font-family: var(--fonte);
    color: var(--branca);
    align-items: center;
}

.apresentacao_links_navegacao{
    display: flex;
    justify-content: center;
    text-decoration: none;
    gap: 6px;
    border: 2px solid var(--cor-inversa);
    text-align: center;
    font-size: 1rem;
    color: var(--cor-inversa);
    font-family: var(--fonte-secundaria);
    align-items: center;
}

.container_img_logo {
    max-width:15px;
    max-height:15px;
    width: auto;
    height: auto;
}